.header {
  background: linear-gradient(90deg, #4b0082, #6b21a8);
  color: white;
  padding: 1rem 2rem;
}


.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
   font-size: 1.7rem;
  font-weight: 300;
}

.badge {
  height: 120px;
  width: 107px;
}
