/* components/MenuHeader.module.css */
.menuHeader {
  width: 90rem;
  background: #6b50a1;
  display: flex;
  align-items: center;
  padding: 0 3rem; /* 36px */
  height: 4rem; /* 64px */
  position: sticky;
  top: 0;
  z-index: 100;
}

.logoSection {
  display: flex;
  align-items: center;
  flex: 1;
}

.logo {
  width: 1.875rem; /* 190px */
  height: 1.188rem; /* 35px */
  margin-right: 1rem; /* 16px */
}

.title {
  font-size: 1.6rem;
  color: white;
  font-weight: 500;
}

.bold {
  font-weight: bold;
  color: white;
}

.yellow {
  color: #fec932;
  font-weight: bold;
}

.subtitle {
  font-size: 0.9rem;
  color: #e3dae3;
}

.navSection {
  display: flex;
  flex: 2;
  justify-content: center;
  gap: 2.5rem; /* 40px */
}

.navSection a {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.2s;
  padding: 0.125rem 0.5rem; /* 2px 8px */
}

.navSection a:hover,
.navSection a:focus {
  text-decoration: underline;
  color: #fec932;
}

.active,
.active1,
.active2,
.active3 {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.875rem; /* 30px */
  text-decoration: none;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 1.25rem; /* 20px */
}

.notification {
  position: relative;
  display: flex;
  align-items: center;
}

.bellIcon {
  width: 2.313rem; /* 37px */
  height: 2.375rem; /* 38px */
  background: url('/bellicon.png') no-repeat center center;
  background-size: contain;
}

.divider {
  border-left: 0.0625rem solid #f2f2f3; /* 1px */
  height: 1.375rem; /* 22px */
  margin: 0 0.625rem; /* 10px */
  text-decoration: none;
}

.login {
  text-decoration: none;
  color: white;
}

.applyNow {
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.imageWrapper {
  display: flex;
  gap: 0.625rem; /* 10px */
  align-items: center;
}
